header {
	align-items: center;
	background: #132235;
	justify-content: space-around;
	display: flex;
	height: 100px;
}

header button {
	background: #0d8fc2;
	border: none;
	border-radius: 50px;
	color: #fff;

	cursor: pointer;
	font-size: 0.90rem;
	font-weight: bold;
	height: 50%;
	padding: 0 1rem;
	width: 187px;
}

nav li {
	display: inline;
	margin: 30px 30px 30px 15px;
}
nav a {
	text-transform: uppercase;
	color: #edf5f5;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	margin-top: 50px;
}
nav a:hover {
	color: #0d8fc2;
	text-decoration: underline;
}

body {
    
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
.logo1{
	background: #132235;
	height: 100px;
}
.imagem{
   
    width: 100%;
    height: 50vw;
    opacity: 0.5;
}
.quemsomos .titulo {
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:36px;
	
    margin: 0 200px  200px 0;
    top: 170px;
    width: 600px;
    line-height: 50px;
    height: 50px;
	font-weight: 500;

}
.quemsomos .subtitulo {
	position: absolute;
    font-size: 32px;
    color:#000000;
    text-align: justify;
    top: 240px;
    width: 600px;
    line-height: 40px;
    height: 50px;
    margin: 15px 200px 300px;
	font-weight: 500;
 }
 .quemsomos .texto {
	position: absolute;
    font-size: 32px;
    color:#000;
    text-align: justify;
    top: 350px;
    width: 600px;
    line-height: 40px;
    height: 50px;
    margin: 15px 200px 300px;
	font-weight: 500;
 }
 footer {
	text-align: center;
	background: #132235;
	padding: 40px 0;
}

.copyright {
	color: #eeebeb;
	font-size: 15px;
	margin: 20px 0 0;
	font-family: 'Open Sans', sans-serif;
}

 .icons {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100px;

}

.icons img {
	width: 20px;
	height: 20px;
}

.icon {
	display: flex;
	margin-top: 20px;
	width: 100px;
	justify-content: space-around;
}
